---
import Layout from "../layouts/Layout.astro";
import Form from "../components/Form";
---

<Layout title="Welcome to Onlyfrans">
  <main>
    <section class="header">
      <h1>
        <span class="text-gradient">OnlyFrans</span>
      </h1>
    </section>
    <section class="content">
      <Form client:load />
    </section>
    <footer class="footer">Creado con 🩴 por Fran</footer>
  </main>
</Layout>
