---
import Layout from "../../layouts/Layout.astro";

const { user } = Astro.params;
const regex = new RegExp(/\b[Ff][Rr][Aa][Nn]\w*/);
const isFran = regex.test(user!);
const params = Astro.url.searchParams.getAll("nombre");

if (!isFran) {
  return Astro.redirect("/");
} else if (params.length) {
  return Astro.redirect(`/user/${user}`);
}
---

{console.log(params)}
<Layout title="Welcome to OnlyFrans.">
  <main>
    <section class="header">
      <h1>
        Welcome <span class="text-gradient">{user}</span>
      </h1>
    </section>
    <section class="content">
      <video class="video" width="300" muted playsinline autoplay loop>
        <source src="/FRAAN.mp4" type="video/mp4" />
      </video>
    </section>
    <footer class="footer">Creado con 🩴 por Fran</footer>
  </main>
</Layout>

