---
import Layout from "../../layouts/Layout.astro";

const { user } = Astro.params;
const regex = new RegExp(/\b[Ff][Rr][Aa][Nn]\w*/);
const notFran = user && !regex.test(user);

if (notFran) {
  return Astro.redirect("/");
}
---
<Layout title="Welcome to OnlyFrans.">
  <main>
    <section class="header">
      <h1>
        Welcome <span class="text-gradient">{user}</span>
      </h1>
    </section>
    <section class="content">
      <video class="video" width="300" autoplay loop>
        <source src="/FRAAN.mp4" type="video/mp4" />
      </video>
    </section>
    <footer class="footer">Creado con 🩴 por Fran</footer>
  </main>
</Layout>
