---
import Layout from "../../layouts/Layout.astro";

const { user } = Astro.params;
const regex = new RegExp(/\b[Ff][Rr][Aa][Nn]\w*/);
const isFran = regex.test(user!);
const params = Astro.url.searchParams.getAll("nombre");

if (!isFran) {
  return Astro.redirect("/");
}else if(params.length){
  return Astro.redirect(`/user/${user}`);
}

---
{console.log(params)}
<Layout title="Welcome to OnlyFrans.">
  <main>
    <h1>
      Welcome <span class="text-gradient">{user}</span>
    </h1>
    <video class="video" controls width="300" autoplay loop>
      <source src="/FRAAN.mp4" type="video/mp4">
  </video>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .video{
    padding-top: 100px;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
